[SddmGreeterTheme]
Name=pearOS SDDM Dark
Description=pearOS SDDM Dark 2025.10.27
Author=Alexandru Balan
Copyright=(c) 2025, Pear Software and Services
License=PPLv2
Type=sddm-theme
Version=1.0
Screenshot=screenshot.png
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=pearOS-dark
QtVersion=6
