[Desktop Entry]
Type=Application
Version=1.0
Name=Notes
GenericName=Notes
Keywords=notes;notebook;journal;productivity;
Encoding=UTF-8
Terminal=false
Exec=pearos-notes
Icon=org.gnome.Notes
Comment=Create and manage your personal notes
Categories=Utility;Office;
StartupNotify=true

