[Desktop Entry]
Type=Application
Version=26.3
Name=PearOS Notch
Comment=Notch
Exec=/home/alxb421/Desktop/pear-notch/pear-notch
Path=/home/alxb421/Desktop/pear-notch
Icon=pearos-notch
Terminal=false
StartupNotify=false
Categories=Utility;
